.msgs {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    z-index: 1000;
}

.msg {
    padding: 7.5px 10px;
    border-radius: 5px;
    width: 270px;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    overflow: hidden;
}

.msg_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.msg_top_text {
    width: calc(270px - 45px);
}

.msg_top_icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.msg_top_icon svg {
    width: 100%;
    height: 100%;
}

.msg_async {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    height: 30px;
}

.msg_async button {
    width: 50%;
    border: none;
    cursor: pointer;
}

.counter::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    left: 0;
    animation-name: anima_counter;
    animation-duration: 5000ms;
    /* MILISECONDS_MSGS */
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@media (hover: hover) and (pointer: fine) {
    .msg_async_ok:hover {
        background-color: #cad6e1;
    }

    .msg_async_cancel:hover {
        background-color: rgb(145, 145, 216);
    }
}

.msg_async_ok {
    color: #000000;
    background-color: #ffffff;
}

.msg_async_cancel {
    color: #000000;
    background-color: rgb(182, 182, 240);
}

.danger {
    color: #d12828;
    background-color: #e9adad;
}
.danger svg {
    fill: #d12828;
}

.danger::after {
    background-color: #d12828;
}

.ask {
    color: #ffffff;
    background-color: rgb(110, 110, 222);
}

.success {
    color: #26572a;
    background-color: #a6d6aa;
}
.success svg {
    fill: #26572a;
}

.success::after {
    background-color: #26572a;
}

@keyframes anima_counter {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}