.workouts_fav {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.workouts_container h2 {
    text-align: center;
}

.workouts_container {
    background-color: #414141;
    padding: 20px;
}

.workouts_container_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}