.workouts_fav {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.workouts_container h2 {
    text-align: center;
}

.workouts_container {
    background-color: #414141;
    padding: 20px;
}

.workouts_container_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.workouts_search {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.workouts_search_selects {
    display: flex;
    gap: 20px;
}

.workouts_search_selects search {
    background-color: #767676;
}

.custom_select {
    position: relative;
    font-family: Arial;
}

.child {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.child div {
    background-color: #6a6a6a;
    padding: 5px 12px;
    cursor: pointer;
}

.child div:hover {
    background-color: #767676;
}

.btn {
    border-radius: 10px 10px 0 0;
    gap: 70px;
}