.page {
	background-color: black;
	min-height: 100vh;
	color: white;
	background-size: cover;
}
.h1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2.2rem;
}
.h2 {
	text-align: center;
	font-weight: 400;
	font-size: 2.3rem;
	margin-top: -63px;
}
.header {
	padding-top: 50px;
	width: 80%;
	margin: 0 auto;
}
.edit{
	background: #31363b;
	color: white;
	text-align: center;
	width:100%;
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
	padding: 10px 0px;
	border-radius: 5px;
	width:100%;
	cursor: pointer;
}
.content {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	gap: 50px;
}
.left {
	flex-basis: calc(40%);
}
.image {
	margin-top: 30px;
	width: 100%;
}
.right {
	flex-basis: calc(40%);
}
.container_form {
	background-color: #161b20;
	border: 1px solid #31363b;
	border-radius: 25px;
}
.form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
	padding-bottom: 5px;
}
.form_individual {
	display: flex;
	flex-direction: column;
	margin: 30px 0;
}
.form_left {
	flex-basis: calc(40%);
	/* background-color: #FF6159; */
}
.form_right {
	flex-basis: calc(40%);
	/* background-color: #6459ff; */
}
.label_form {
	color: #ff6159;
	font-weight: bold;
	font-size: 1.2rem;
}
.input {
	height: 45px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #ff6159;
	font-size: 1.2rem;
	padding: 6px 0;
	color: #a3abb4;
	width: 100%;
}
.input:focus {
	outline: none;
}
.row_medida_input {
	display: flex;
	align-items: center;
	gap: 15px;
}
.medida_unit {
	background-color: #6c6868;
	padding: 0px 15px;
	border-radius: 2px;
}
.containerBotones {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 30px;
}
.omitir_btn {
	width: 100%;
	padding: 12px 85px;
	border-radius: 10px;
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 20px;
	width: 250px;
	background-color: transparent;
	border: 1px solid #ff6159;
	color: white;
}
.omitir_btn:hover {
	cursor: pointer;
}
.submit_button {
	width: 100%;
	padding: 15px 45px;
	border-radius: 10px;
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 20px;
	width: 250px;
	background-color: #ff6159;
	border: none;
	color: white;
}
.submit_button:hover {
	cursor: pointer;
}

.contenedor_regresar {
	display: flex;
	align-items: center;
	/* background-color: aqua; */
	justify-content: center;
	width: 200px;
	margin-top: -40px;
}
.contenedor_regresar:hover {
	cursor: pointer;
}
.flechaimg {
	width: 30px;
	margin-right: 15px;
	margin-bottom: 20px;
	/* background-color: beige; */
}
.regresar {
	color: #ff6159;
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 0;
}
