@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.layout {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;

    .buttons {
        display: flex;
        justify-content: space-evenly;
        
        button {
            padding: 20px 40px;
            border-radius: 15px;
            font-family: 'Inter', sans-serif;
            line-height: 0px;
            margin-top: 24px;
            color: white;
            border: none;
            font-size: 17px;
        }

        button:hover {
            cursor: pointer;
        }

        #yes {
            background: rgb(26, 154, 24);
        }
    
        #no {
            background: rgb(224, 66, 66);
        }   
    }
}