.createButtons {
	display: flex;
	justify-content: space-between;
}
.createButtonIndividual {
	flex-basis: calc(100%);
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	background-color: #414141;
	text-align: center;
	border-radius: 5px;
	padding: 25px 0;
	margin: 0;
	margin-top: -15px;
	font-weight: 600;
}
.createButtonIndividual:hover {
	cursor: pointer;
}
