@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$primary-color: #FF6159;
$back-color: #414141;
$card-color: #242424;

body {
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
    color: white;

    background: black;
    
    .layout {
        height: 100%;

        .createButtons {
            display: flex;
            justify-content: space-between;
        }

        .createButtonIndividual {
            flex-basis: calc(100%);
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            background-color: #414141;
            text-align: center;
            border-radius: 5px;
            padding: 25px 0;
            margin: 10px;
            margin-top: -15px;
            font-weight: 600;
        }

        .createButtonIndividual:hover {
            cursor: pointer;
        }
        
        .ejercicios {
            background: $back-color;
            margin: 10px;
            height: 100%;
            padding: 20px;

            h1 {
                text-align: center;
                font-size: 2rem;
            }

            .search_bar {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .aux {
                    display: flex;
                    flex-direction: column;
                    margin: 40px 30px;
                }
                
                input{
                    color: white;
                    font-family: 'Inter', sans-serif;
                    background: #A3A3A3;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    padding: 5px 5px;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }  

            .ejercicios_layout {
                display: flex;
                justify-content: space-evenly;
                flex-flow: wrap;
                
                .ejercicio_card {
                    width: 650px;
                    height: 215px;
                    margin: 40px;
                    display: flex;
                    flex-direction: column;
                    
                    .name {
                        background: $card-color;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        font-size: 1rem;
                        text-align: center;
                        line-height: 20px;
                        min-height: 40px;
                        width: 250px;
                        img {
                            background: white;
                            margin-right: 15px;
                        }
                        img:hover {
                            cursor: pointer;
                        }
                        h2 {
                            font-size: 1rem;
                            margin-left: 15px;
                        }
                    } 

                    .content {
                        display: flex;
                        border-radius: 10px;
                        border-top-left-radius: 0px;
                        background: $card-color;
                        width: 100%;
                        min-height: calc(215px - 10px);
                        height: auto;

                        .imagen {
                            background: black;
                            border-bottom-left-radius: 10px;
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            img{
                                max-height: 100%;
                                max-width: 100%;
                                object-fit:fill;
                            }
                        }

                        .descripcion{
                            width: 50%;
                            border-radius: 10px;
                            margin-left: 25px;
                            margin-bottom: 5px;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
}