.page {
    background-color: #333333;
    height: 100vh;
    width: 115px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    padding-top: 106px;
    transition: width ease-out 350ms;
}

.page.open {
    width: 280px;
}

.page li {
    visibility: hidden;
    opacity: 0;
    transition: visibility ease-out 350ms, opacity ease-out 350ms;
}

.page.open li {
    visibility: visible;
    opacity: 1;
}

.page button {
    margin-left: 42px;
    margin-bottom: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    width: 35px;
    height: 35px;
    transition: background-color ease-out 350ms;
}
.page button:hover {
    background-color: #444444;
}

.page button svg{
    fill: #FFF;
    width: 100%;
    height: 100%;
    transform: rotateZ(180deg);
    transition: transform ease-out 350ms;
}
.page.open button svg{
    transform: rotateZ(0deg);
}

.ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin: 0;
    padding: 0px 20px;
    width: 100%;
}

.li {
    color: #fff;
    font-weight: bold;
    list-style: none;
    font-size: 1.1rem;
    /* background-color: aqua; */
}

.underline {
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
    transition: background-color ease-out 150ms;
}

.individual {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
    padding: 5px;
    /* background-color: aqua; */
}

.activeLink {
    background-color: #4b4b4b !important;
}

.icon {
    min-width: 50px;
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover {
        background-color: black;
        transition: background-color ease-out 350ms;
    }

    .page:hover {
        width: 280px;
    }
    .page:hover li {
        visibility: visible;
        opacity: 1;
    }
}