.page {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
}

.title {
    margin: 0;
    padding-left: 80px;
}

.title a {
    color: #fff;
    text-decoration: none;
}

.image {
    width: 90px;
}

.right:hover {
    cursor:pointer;
}

.right {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.p {
    color: #fff;
    margin: 0 20px 0 10px;
    font-weight: 600;
}

.icon {
    width: 15px;
}