@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
	margin: 0;
	padding: 0;
	background: black;
	font-family: "Inter", sans-serif;
	color: white;
}
body .layout .calendar_info {
	display: flex;
	margin-left: 10px;
}
body .layout .calendar_item {
	display: flex;
	margin-right: 20px;
}
.calendar_item label {
	margin-right: 15px;
}
.calendar_item input {
	background: #333333;
	color: white;
	border-radius: 10px;
	width: 100%;
	text-align: left;
	border: none;
	margin-right: 5px;
	padding: 2px 10px;
}
.calendar_item2 {
	display: flex;
	margin-right: 20px;
}
.calendar_item2 label {
	margin-right: 15px;
}
.calendar_item2 input {
	background: #333333;
	color: white;
	border-radius: 10px;
	width: 100%;
	text-align: left;
	border: none;
	margin-right: 5px;
	padding: 2px 10px;
}
.underlineless {
	text-decoration: none;
}

.update {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	height: 80px;
	margin-top: -15px;
	background: #414141;
	width: 100%;
	cursor: pointer;
	border: none;
	padding: 15px 0px;
	border-radius: 5px;
	font-family: "Inter", sans-serif;
	color: white;
	font-weight: bold;
	font-size: 1rem;
}
body .layout .general_info {
	background: #414141;
	border-radius: 5px;
	padding: 10px;
	margin-top: 8px;
	height: 85vh;
}
body .layout .general_info .calendar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
body .layout .general_info .calendar h2 {
	font-size: 1rem;
	padding-bottom: 10px;
	padding-right: 440px;
	text-align: center;
}
.calendar_input {
	padding: 2px 7px !important;
	margin: 0 !important;
}

body .layout .general_info .general_info_card {
	background: #414141;
	border-radius: 10px;
	margin: 10px;
	display: flex;
	height: 85%;
}
body .layout .general_info .general_info_card .tags {
	background: black;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 0.8rem;
	width: 17%;
	min-width: 185px;
	border-radius: 10px 0 0 10px;
}
.add_tag_container {
	padding-inline: 20px;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.more:focus {
	outline: none;
}
.more {
	background: #333333;
	color: white;
	text-align: center;
	border-radius: 20px;
	font-size: 0.9rem;
	padding: 7px 0px;
	min-width: 150px;
	width: 100%;
	margin: 15px auto;
}

.more:hover {
	cursor: pointer;
}
.add_tag,
.add_tag2 {
	background: transparent;
	border-radius: 20px;
	padding: 8px 10px;
	color: white;
	text-align: center;
	font-size: 0.9rem;
	border-radius: 10px;
	border: 1px solid #ff5169;
	width: 100%;
	margin: 20px 0 20px 15px;
}

.add_tag {
	margin-right: 10px;
}

.add_tag:hover {
	cursor: pointer;
}
body .layout .general_info .general_info_card .general_graph {
	background: black;
	width: 100%;
	border-radius: 0 10px 10px 0;
	overflow: hidden;
}
body .layout .detailed {
	background: #414141;
	border-radius: 5px;
	padding: 0px;
	margin-top: 10px;
	text-align: center;
	padding: 15px 0 30px;
}
body .layout .detailed h2 {
	font-size: 1rem;
	text-align: center;
	padding-bottom: 10px;
}
body .layout .detailed .detailed_info {
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
	gap: 15px;
	width: 96%;
	margin: 20px auto;
}
body .layout .detailed .detailed_info article {
	background: #646464;
	/* width: 100%; */
	border-radius: 5px;
	padding: 15px;
	flex-basis: calc((50% - 10px));
	width: 10%;
}
.articleSection {
	background: #646464;
	border-radius: 5px;
	padding: 15px;
	flex-basis: calc((50% - 10px));
	margin-bottom: 15px;
	padding-inline: 40px;
	/* height: 300px; */
}
.calendar_info {
	display: flex;
	justify-content: space-between;
	margin: 5px 0px 15px 0;
	overflow: hidden;
}
.calendar_info2 {
	display: flex;
	justify-content: flex-start;
	margin: 5px 0px 15px 0;
	overflow: hidden;
}
body .layout .detailed .detailed_info article .aux a {
	text-decoration: none;
	color: white;
}
.tags {
	display: flex;
	background: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	height: 75px;
	overflow-y: hidden;
	overflow-x: auto;
	font-size: 0.8rem;
	align-items: center;
}
.weight,
.neck,
.chest,
.rightArm,
.leftArm,
.rightForearm,
.leftForearm,
.waist,
.hip,
.leftLeg,
.rightLeg,
.leftCalve,
.rightCalve {
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	margin: 15px;
	min-width: 90px;
}
.weight {
	background: #ff6159;
}
.weight a,
.neck a,
.chest a,
.rightArm a,
.leftArm a,
.rightForearm a,
.leftForearm a,
.waist a,
.hip a,
.leftLeg a,
.rightLeg a,
.leftCalve a,
.rightCalve a {
	color: white;
	text-decoration: none;
}
.weight a:hover,
.neck a:hover,
.chest a:hover,
.rightArm a:hover,
.leftArm a:hover,
.rightForearm a:hover,
.leftForearm a:hover,
.waist a:hover,
.hip a:hover,
.leftLeg a:hover,
.rightLeg a:hover,
.leftCalve a:hover,
.rightCalve a:hover {
	cursor: pointer;
}
.neck {
	background: #50514f;
}
.chest {
	background: #b63d96;
}
.rightArm {
	background: #54b399;
}
.leftArm {
	background: #68954f;
}
.rightForearm {
	background: #805ea5;
}
.leftForearm {
	background: #ff6159;
}
.waist {
	background: #bf2727;
}
.hip {
	background: #322f87;
}
.leftLeg {
	background: #247ba0;
}
.rightLeg {
	background: #5b1b18;
}
.leftCalve {
	background: #292828;
}
.rightCalve {
	background: #ddbb21;
}
.graph,
.graph2 {
	background: black;
	border-radius: 0 0 10px 10px;
	height: 40vh;
	padding-top: 10px;
}
.graph2 {
	height: 30vh;
}
.inside_graph {
	background: black;
	height: 100%;
	padding: 20px;
}

.add_tag_container {
	display: flex;
	justify-content: flex-start;
	width: 140px;
}

body .layout .detailed .detailed_info .add {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45%;
	margin: 10px;
}
body .layout .detailed .detailed_info .add button {
	background: #646464;
	font-size: 1.5rem;
	color: white;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 0px 20px -5px black;
	width: 70%;
	height: 50px;
}
