.pop {
    max-width: 2000px;
}
.container {
    width: 95vw;
    /* max-width: 850px; */
    max-width: 1000px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.numbers {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.images_aside {
    width: calc((100% - 600px) / 2 - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.images_main {
    height: 350px;
    width: 600px;
    background-color: rgba(36, 36, 36, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.images_aside div {
    height: 90px;
    width: 90px;
    background-color: rgba(36, 36, 36, 1);
    cursor: pointer;
    overflow: hidden;
}

.images_aside div:hover {
    background-color: rgb(63, 63, 63);
}

.images_main img,
.images_aside div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.description p {
    margin: 0;
}

.description_title {
    margin-top: 20px;
    text-align: left;
    width: 100%;
    font-weight: bold;
}

.exercises {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}
.exercises_title {
    text-align: left;
    font-weight: bold;
}
.exercises_data {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.exercises_data div {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 10px;
    padding: 5px 20px;
    color: #000;
}

.complete_exercises {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.complete_exercises_container {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
}

.complete_exercises_container_title {
    width: fit-content;
    margin-right: auto;
    background: linear-gradient(0deg, #242424, #242424),
        linear-gradient(0deg, #6F6F6F, #6F6F6F);
    padding: 5px 30px;
    color: #FFF;
    font-weight: bold;
}

.complete_exercises_container_data {
    display: flex;
    height: 225px;
}

.complete_exercises_container_data_img {
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete_exercises_container_data_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgb(63, 63, 63);
}

.complete_exercises_container_info {
    width: 50%;
    height: 100%;
    background-color: rgba(36, 36, 36, 1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.complete_exercises_container_info_des {
    text-align: left;
    width: 100%;
    font-weight: bold;
}

.complete_exercises_container_info p {
    width: 100%;
}