.page {
    color: #FFF;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 170px;
    margin-bottom: -20px;
}
.title{
    font-size: 1.8rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

.p{
    color: rgb(179, 170, 170);
    line-height: 25px;
    font-size: 1.1rem;
    margin: 0 0 30px 0;
}
.input_datos{
    background-color: #5F5F5F;
    border-radius: 10px 10px 0 0;
    padding: 18px 20px;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    width: 320px;
    font-weight: 600;
    color: #fff;
}
.input_datos:focus{
    outline: none;
}
.input_datos::placeholder{
    color: #fff;
    font-size: 1rem;
    font-size: 1rem;
}
.submit_datos{
    background-color: #035E7B;
    border-radius: 10px;
    padding: 18px 20px;
    border: none;
    font-weight: 600;
    width:100%;
    color: #fff;
    font-size: 1rem;
    margin-top: 20px;
}
.submit_datos:focus{
    outline: none;
}
.submit_datos:hover{
    cursor: pointer;
}
.row_medida_input{
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
}
.medida_unit{
    background-color: #6c6868;
    padding: 0px 15px;
    border-radius: 8px 8px 0 0 ;
    border-bottom: 1px solid #ff6159;
}