.page {
    background-color: black;
    /* background-image: url(../../images/background_login_v3.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    gap: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 0px;
}
.icon{
    width: 170px;
}
.title{
    /* solo por el logo placeholder */
    margin-top: -5px;
    margin-bottom: 0;
}

.p{
    color: rgb(179, 170, 170);
    margin: 15px 0;
    line-height: 25px;
    font-size: 1.1rem;
}
.bold{
    font-weight: bold;
    margin: 0;
}
.buttons{
    padding-bottom: 300px;
}
.button_login{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 5px 15px;
    color: white;
    width: 300px;
    font-size: 1rem;
    border-radius: 5px;
    gap: 15px;
    padding-top: 7px;
    background-color: #1F87FC;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}
.button_login:hover{
    cursor: pointer;
}
.img_icon{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.register_span{
    color: #FF6159;
    font-weight: bold;
}
.register_span:hover{
    cursor: pointer;
}
