.page {
    background-image: url(../../../src/images/background_login_v3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pages_points{
    margin-top: 40px;
    display: flex;
    gap: 15px;
}
.dot {
  height: 18px;
  width: 18px;
  background-color: #FF6159;
  border-radius: 50%;
  display: inline-block;
}
.active{
    background-color: #FF6159;
}