.page {
    color: white;
    background-color: black;
    position: relative;
}

.container {
    width: calc(100% - 115px);
    left: 115px;
    position: relative;
    z-index: 1;
    padding: 20px;
    padding-top: 126px;
    
    transition: left ease-out 350ms, width ease-out 350ms;
}

.container.open {
    left: 280px;
    width: calc(100% - 280px);
}