.page {
    color: white;
    background-color: black;
    position: relative;
}

.container {
    background-color: violet;
    width: calc(100% - 115px);
    top: 106px;
    left: 115px;
    position: relative;
    padding: 20px;

    transition: left ease-out 350ms, width ease-out 350ms;
}

.container.open {
    left: 280px;
    width: calc(100% - 280px);
    background-color: aqua;
}