@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: "Inter", sans-serif;
  color: white;
}
body .layout .update {
  display: flex;
  justify-content: center;
  margin: 10px;
}
body .layout .update button {
  background: #414141;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  align-items: center;
  padding: 20px 0px;
  border-radius: 5px;
  width: 100%;
}
body .layout .general-info {
  background: #414141;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
body .layout .general-info .calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .layout .general-info .calendar .calendar-info {
  display: flex;
  margin-left: 10px;
}
body .layout .general-info .calendar .calendar-item {
  display: flex;
  margin-right: 20px;
}
body .layout .general-info .calendar .calendar-item label {
  margin-right: 15px;
}
body .layout .general-info .calendar .calendar-item input {
  background: #333333;
  color: white;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  border: none;
  margin-right: 5px;
  padding: 2px 10px;
}
body .layout .general-info .calendar h2 {
  font-size: 1rem;
  padding-bottom: 10px;
  padding-right: 440px;
}
body .layout .general-info .general-info-card {
  background: black;
  border-radius: 10px;
  margin: 10px;
}
body .layout .general-info .general-info-card .tags {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.8rem;
}
body .layout .general-info .general-info-card .tags .peso {
  background: #FF6159;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 50%;
}
body .layout .general-info .general-info-card .tags .peso a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .tags .cuello {
  background: #D36086;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 50%;
}
body .layout .general-info .general-info-card .tags .cuello a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .tags .pecho {
  background: #FF6159;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 50%;
}
body .layout .general-info .general-info-card .tags .pecho a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .tags .brazo-derecho {
  background: #52B399;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 60%;
}
body .layout .general-info .general-info-card .tags .brazo-derecho a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .tags .brazo-izquierdo {
  background: #6092C0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 60%;
}
body .layout .general-info .general-info-card .tags .brazo-izquierdo a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .tags .antebrazo-derecho {
  background: #D5573D;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 70%;
}
body .layout .general-info .general-info-card .tags .antebrazo-derecho a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .tags .antebrazo-izquierdo {
  background: #D5573D;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 70%;
}
body .layout .general-info .general-info-card .tags .antebrazo-izquierdo a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .tags .cintura {
  background: #CE9C6F;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 50%;
}
body .layout .general-info .general-info-card .tags .cintura a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .tags .cadera {
  background: #BA9B8D;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 50%;
}
body .layout .general-info .general-info-card .tags .cadera a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .tags .pierna-izquierda {
  background: #F69F84;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 50%;
}
body .layout .general-info .general-info-card .tags .pierna-izquierda a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .tags .pierna-derecha {
  background: #B3ABCF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 50%;
}
body .layout .general-info .general-info-card .tags .pierna-derecha a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .tags .pantorrila-izquierda {
  background: #BA9B8D;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 70%;
}
body .layout .general-info .general-info-card .tags .pantorrila-izquierda a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .tags .pantorrila-derecha {
  background: #F69F84;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 70%;
}
body .layout .general-info .general-info-card .tags .pantorrila-derecha a {
  color: white;
  text-decoration: none;
}
body .layout .general-info .general-info-card .graph {
  background: salmon;
  width: 70%;
}
body .layout .detailed {
  background: #414141;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
body .layout .detailed h2 {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 10px;
}
body .layout .detailed .detailed-info {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
body .layout .detailed .detailed-info article {
  display: flex;
  flex-direction: column;
  background: #646464;
  margin: 10px;
  width: 45%;
  border-radius: 5px;
}
body .layout .detailed .detailed-info article .aux {
  margin: 10px;
}
body .layout .detailed .detailed-info article .aux a {
  text-decoration: none;
  color: white;
}
body .layout .detailed .detailed-info article .aux .tags {
  display: flex;
  background: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 75px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0.8rem;
  align-items: center;
}
body .layout .detailed .detailed-info article .aux .tags .peso {
  background: #FF6159;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 60px;
}
body .layout .detailed .detailed-info article .aux .tags .peso a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .tags .cuello {
  background: #D36086;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 60px;
}
body .layout .detailed .detailed-info article .aux .tags .cuello a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .tags .pecho {
  background: #FF6159;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 60px;
}
body .layout .detailed .detailed-info article .aux .tags .pecho a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .tags .brazo-derecho {
  background: #52B399;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 100px;
}
body .layout .detailed .detailed-info article .aux .tags .brazo-derecho a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .tags .brazo-izquierdo {
  background: #6092C0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 130px;
}
body .layout .detailed .detailed-info article .aux .tags .brazo-izquierdo a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .tags .antebrazo-derecho {
  background: #D5573D;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 150px;
}
body .layout .detailed .detailed-info article .aux .tags .antebrazo-derecho a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .tags .antebrazo-izquierdo {
  background: #D5573D;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 150px;
}
body .layout .detailed .detailed-info article .aux .tags .antebrazo-izquierdo a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .tags .cintura {
  background: #CE9C6F;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 70px;
}
body .layout .detailed .detailed-info article .aux .tags .cintura a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .tags .cadera {
  background: #BA9B8D;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 70px;
}
body .layout .detailed .detailed-info article .aux .tags .cadera a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .tags .pierna-izquierda {
  background: #F69F84;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 150px;
}
body .layout .detailed .detailed-info article .aux .tags .pierna-izquierda a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .tags .pierna-derecha {
  background: #B3ABCF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 150px;
}
body .layout .detailed .detailed-info article .aux .tags .pierna-derecha a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .tags .pantorrila-izquierda {
  background: #BA9B8D;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 150px;
}
body .layout .detailed .detailed-info article .aux .tags .pantorrila-izquierda a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .tags .pantorrila-derecha {
  background: #F69F84;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 15px;
  min-width: 150px;
}
body .layout .detailed .detailed-info article .aux .tags .pantorrila-derecha a {
  color: white;
  text-decoration: none;
}
body .layout .detailed .detailed-info article .aux .graph {
  background: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 50vh;
}
body .layout .detailed .detailed-info article .aux .more {
  background: #333333;
  color: white;
  border-radius: 10px;
  padding: 14px 12px;
  width: 55px;
  text-align: left;
  border: none;
  margin-right: 5px;
}
body .layout .detailed .detailed-info .add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin: 10px;
}
body .layout .detailed .detailed-info .add button {
  background: #646464;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -5px black;
  width: 70%;
  height: 50px;
}

/*# sourceMappingURL=styles.css.map */
