.page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 400px; */
    padding: 0 80px;
    padding-top: 50px;
    align-items: center;
    color: white;
}
.start {
    font-weight: bold;
    text-transform: uppercase;
}
.logo_text {
    font-size: 2.2rem;
}
.end {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.individual {
    padding: 0 25px;
    font-size: 1.5rem;
}
.link{
    color: white;
    text-decoration: none;
}
.active {
    border-bottom: 1px solid #FF6159;
  }

@media only screen and (max-width: 1116px) {
    .logo_text {
        font-size: 2rem;
    }
    .individual {
        padding: 0 25px;
        font-size: 1.5rem;
    }
  }
