.page{
    background-color: #222222;
    border: 1px solid #646b71;
    border-radius: 15px;
    width: 235px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 95px;
}
.individual{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 25px;
}
.individual:hover{
    cursor: pointer;
}
.border{
    border: 1px solid #646b71;
    width: 80%;
    margin: 5px auto;
}
.icon{
    width: 50px;
}
.p{
    font-size: 1.2rem;
}