@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$primary-color: #FF6159;
$card-color: #414141;
$inside-card: #646464;
$background: #0D1117;

body {
    margin: 0px;
    padding: 0px;
    
    font-family: 'Inter', sans-serif;
    color: white;

    input {
        color: white;
        background: $inside-card;
        border-radius: 5px;
        padding: 3px 1px;
        margin-top: 5px;
        border: none;
    }

    .layout{

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            
            .titulo {
                width: 80%;
                height: 100px;
                align-items: center;
                text-align: center;


            }
            .name {
                background: $card-color;
                border-radius: 5px;
                width: 80%;
                display: flex;
                padding: 20px 0px;
                justify-content: space-evenly;

                .calories {
                    margin: 15px;

                }
            }
            .macros_card{
                width: 80%;
                background: $card-color;
                border-radius: 5px;
                margin: 10px 0px;
                display: flex;
                flex-direction: column;
                text-align: center;

                h3 {
                    margin-top: 10px;
                    margin-bottom: 0px;
                }

                .macros {   
                    display: flex;
                    justify-content: space-evenly;
                    text-align: start;
                    margin-top: 0px;
    
                    .info {
                        padding-bottom: 20px; 

                        h4 {
                            text-align: center;
                            margin-top: 15px;
                        }
                    }
                }
            }

            .ingredientes{
                background: $card-color;
                border-radius: 5px;
                width: 80%;
                height: 200px;
                margin: 10px 0px;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                overflow-y: auto;
                overflow-x: hidden;

                .ing_info {
                    width: 100%;
                    display: flex;
                    margin-bottom: 20px;

                    .aux {
                        margin: 0px 20px;

                        label {
                            margin-bottom: 5px;
                        }
                    }

                    button {
                        height: 10px;
                        padding: 13px 20px;
                        border-radius: 5px;
                        font-family: 'Inter', sans-serif;
                        line-height: 0px;
                        margin-top: 25px;
                    }
                }
            }
            .micros_card{
                background: $card-color;
                border-radius: 5px;
                width: 80%;
                margin: 10px 0px;
                overflow-y: auto;
                text-align: center;

                .micros {
                    display: flex;
                    justify-content: space-evenly;
                    text-align: start;

                    .micros_info {
                        padding-bottom: 20px;

                        h4 {
                            text-align: center;
                        }

                        input {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            button {
                background-color: $primary-color;
                font-family: 'Inter', sans-serif;
                color: white;
                border: none;
                padding: 15px 45px;
                border-radius: 15px;
            }
        }
    }
}