@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	color: white;
	background: black;
}
body h1 {
	font-size: 1.5rem;
}
body .layout .agregar {
	display: flex;
	justify-content: center;
	background: #414141;
	font-family: "Inter", sans-serif;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	align-items: center;
	padding: 20px 0px;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
	margin-top: -15px;
}
.layout .agregar img {
	margin-right: 10px;
}
body .layout .dietas {
	background: #414141;
	margin-top: 5px;
	border-radius: 5px;
}
body .layout .dietas h1,
body .layout .dietas h2 {
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
}
body .layout .dietas h3 {
	padding-top: 20px;
	text-align: center;
}
body .layout .dietas section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-flow: row wrap;
}
body .layout .dietas section .dietless_container {
	text-align: center;
	display: block;
	margin: auto;
	/* background-color: #d6554e; */
	padding: 25px 0;
}
body .layout .dietas section .dietless_container .dietless_img {
	width: 80px;
}
body .layout .dietas section .dietless_container .p_dietless_bold {
	font-weight: bold;
	color: #b5b5bc;
}
body .layout .dietas section .dieta_favorita {
	background: black;
	display: flex;
	flex-direction: column;
	margin: 25px 0px;
	width: 300px;
	height: fit-content;
	border-radius: 10px;
}
body .layout .dietas section .dieta_favorita .titulo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 40.225px;
}
body .layout .dietas section .dieta_favorita .titulo h2 {
	text-align: center;
	font-size: 1rem;
}
body .layout .dietas section .dieta_favorita .titulo img {
	height: 21px;
	margin-right: 10px;
}
body .layout .dietas section .dieta_favorita .titulo .favicon:hover {
	cursor: pointer;
}
body .layout .dietas section .dieta_favorita .titulo h2:hover {
	cursor: pointer;
}
body .layout .dietas section .dieta_favorita .calorias {
	background: #414141;
	border-radius: 10px;
	margin: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
body .layout .dietas section .dieta_favorita .calorias img {
	height: 25px;
	margin: 0px 12px;
}
body .layout .dietas section .dieta_favorita .calorias p {
	font-size: 0.8rem;
}
body .layout .dietas section .dieta_favorita .calorias p .subtitle {
	font-weight: bold;
	font-size: 1rem;
}
body .layout .dietas section .dieta_favorita .calorias:hover {
	cursor: pointer;
}
body .layout .dietas section .dieta_favorita .macros {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-radius: 10px;
}
body .layout .dietas section .dieta_favorita .macros .macros_info {
	display: flex;
	flex-direction: column;
	background: #414141;
	border-radius: 10px;
	margin-bottom: 14px;
	width: 90px;
	height: 100px;
}
body .layout .dietas section .dieta_favorita .macros .macros_info .macros_item {
	display: flex;
	margin-top: 7px;
}
body
	.layout
	.dietas
	section
	.dieta_favorita
	.macros
	.macros_info
	.macros_item
	img {
	height: 25px;
	margin: 0px 6px;
}
body
	.layout
	.dietas
	section
	.dieta_favorita
	.macros
	.macros_info
	.macros_item
	p {
	font-size: 0.6rem;
}
body .layout .dietas section .dieta_favorita .macros .macros_info h5 {
	margin: 8px;
}
body .layout .dietas section .dieta_favorita .macros .macros_info .bar {
	background: gray;
	width: 75px;
	height: 10px;
	margin: 0 auto;
	margin-top: 5px;
	border-radius: 25px;
	position: relative;
}
body
	.layout
	.dietas
	section
	.dieta_favorita
	.macros
	.macros_info
	.bar
	.color_carbs {
	background: #04a7aa;
	width: 40%;
	height: 10px;
	margin: 0 auto;
	border-radius: 25px;
	position: absolute;
}
body
	.layout
	.dietas
	section
	.dieta_favorita
	.macros
	.macros_info
	.bar
	.color_protein {
	background: #ef946b;
	width: 40%;
	height: 10px;
	margin: 0 auto;
	border-radius: 25px;
	position: absolute;
}
body
	.layout
	.dietas
	section
	.dieta_favorita
	.macros
	.macros_info
	.bar
	.color_fats {
	background: #68659b;
	width: 40%;
	height: 10px;
	margin: 0 auto;
	border-radius: 25px;
	position: absolute;
}
body .layout .dietas section .dieta_favorita .macros:hover {
	cursor: pointer;
}
body .layout .dietas section .diet_card {
	background: black;
	border-radius: 10px;
	width: 450px;
	margin-bottom: 14px;
}
body .layout .dietas section .diet_card .titulo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 40px;
}
body .layout .dietas section .diet_card .titulo h2 {
	text-align: center;
	font-size: 1rem;
}
body .layout .dietas section .diet_card .titulo img {
	height: 21px;
	margin-right: 10px;
}
body .layout .dietas section .diet_card .titulo .favicon:hover {
	cursor: pointer;
}
body .layout .dietas section .diet_card .titulo h2:hover {
	cursor: pointer;
}
body .layout .dietas section .diet_card .diet_info {
	display: flex;
}
body .layout .dietas section .diet_card .diet_info .macros_item:first-child {
	margin-left: 5px;
}
body .layout .dietas section .diet_card .diet_info .macros_item:last-child {
	border: none;
}
body .layout .dietas section .diet_card .diet_info .macros_item {
	display: flex;
	margin-top: 7px;
	margin-left: 25px;
	margin-bottom: 10px;
	padding-right: 25px;
	border-right: solid 1px #7b7b7b;
}
body .layout .dietas section .diet_card .diet_info .macros_item img {
	height: 25px;
	margin: 0px 6px;
}
body .layout .dietas section .diet_card .diet_info .macros_item p {
	font-size: 0.6rem;
}
body .layout .dietas section .diet_card .diet_info:hover {
	cursor: pointer;
}
body .layout .dietas .btn_container {
	display: flex;
	justify-content: center;
}
body .layout .dietas .btn_container #ver_todo {
	background: #ff6159;
	font-family: "Inter", sans-serif;
	color: white;
	border: none;
	border-radius: 10px;
	margin: 35px 0px;
	padding: 8px 35px;
}
body .layout .dietas .btn_container #ver_todo:hover {
	cursor: pointer;
}
.search_bar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.aux {
	display: flex;
	flex-direction: column;
	margin: -30px 40px 50px 15px;
}
body .layout .dietas .search_bar .aux .selection_calories {
	display: flex;
	flex-direction: column;
	background: #414141;
}
body .layout .dietas .search_bar .aux .selection_calories div {
	padding: 2.5px 5px;
}
.search_bar input {
	color: rgb(49, 46, 46);
	font-family: "Inter", sans-serif;
	background: #a3a3a3;
	border-radius: 10px 10px 0 0;
	padding: 12px 15px;
	font-size: 1rem;
	font-weight: bold;
	border-bottom: 1px solid white;
}

.search_bar input:focus {
	outline: 1px solid #ff6159;
}

/*# sourceMappingURL=Dietas.module.css.map */
